.form {
   display: flex;
   flex-direction: column;
   max-width: 556px;
   row-gap: 25px;
}

.form__item {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}

.form__input {

   border: 1px solid black;
   border-radius: 14px;

   padding: 18px 30px;
}

.form__input::placeholder {
   font-size: 18px;

}

.form__button {
   margin-top: 15px;
}

.input {
   min-width: 100%;
}

.option {
   margin: 20px;
}

.title {
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
}

.section__form {
   flex: 1 1 auto;
}